.site {
	color: red;
	font-family: 'Lobster', cursive;
}

.user {
	color: darkblue;
}

p {
	text-align: justify;
	margin: 10px 40px;
}

.siteName {
	color: red;
	font-weight: bold;
	font-size: 125%;
}