@import url('https://fonts.googleapis.com/css?family=Lobster');

.site {
	 color: red;
 }

.user {
	color: darkblue;
}

p {
	text-align: justify;
	margin: 10px 40px;
}

.siteName {
	color: red;
	font-weight: lighter;
	font-size: 125%;
	font-family: 'Lobster', cursive;
}